body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #000;
}

.container {
  width: 400px;
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  margin: 50px auto;
  padding: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  width: 95%; /* Increase the input field length */
}

/*input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}*/

select[id="gender"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
}

input[type="date"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  width: 95%;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 95%;
}

label {
  text-align: left;
  display: block;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  padding: 10px;
  width: 100%; /* Increase the button field length */
}

button:hover {
  background-color: #005f10;
}

/*body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}*/

/*
#app {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container {
  text-align: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

input,
select {
  display: block;
  width: calc(100% - 40px);
  margin: 10px auto;
  padding: 10px;
}

input[disabled],
select[disabled] {
  background-color: #e9ecef;
  cursor: not-allowed;
}*/

a {
  color: #007bff;
  cursor: pointer;
}